:root {
    --primary-color: #4DE894;
    --secondary-color: #3C3E67;
    --text-color: #7C838A;
    --white-bg: #FCFEFF;
    --blue-bg: #E6F3FF;
    --grey-bg:rgba(176, 186, 195, 0.4);
    --text-input:#1F2933;
    --text-span:#B0BAC3;
    --text-login:#61FFC5;
}