main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-section {
    width: 40%;
    background-color: var(--blue-bg);
    height: 100vh;
    overflow: hidden;
}

main > section img {
    max-height: 100vh;
    max-width: 100%;
    object-fit: contain;
}

.form-section {
    width: 70%;
    background-color: var(--white-bg);
}

h1{
    font-size: 52px;
    font-weight: 600;
    color: var(--secondary-color);
}